/* SPECIFIC STYLES FOR THE HOMEPAGE (index.html) */

/* Hero Section */
#hero {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 550px;
    aspect-ratio: 16 / 9;
    background-image: url('../images/hero-img.png');
    background-size: cover;
    background-position: 50% 30%;
    display: grid;
    padding: 1em 7em;
    text-align: left;
}

#hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #120116a9;
    z-index: 1;
}

#hero h1, #hero-mobile h1 {
    width: 100%;
    margin: 0 auto;
    font-size: 7rem;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 5px 5px 15px #000;
    line-height: 1.2;
    z-index: 2;
    padding: 0;
}

#hero #cta-button, #hero-mobile #cta-button  {
    z-index: 2;
}

#hero input[type="button"], #hero-mobile input[type="button"] {
    z-index: 2;
    background-color: var(--secondary);
    border-radius: 17px;
    width: 10em;
    height: 2.4em;
    max-height: 65px;
    font-size: 1.5rem;
    font-weight: var(--semi-bold);
    font-family: 'Poppins', sans-serif;
    border: none;
}

#hero input[type="button"]:hover, #hero-mobile input[type="button"]:hover {
    background-color: var(--secondary-darker);
    cursor: pointer;
    transition: 0.3s;
}

#hero-subtitle {
    width: 100%;
    padding: 1em 5em;
    font-size: 1.6rem;
    font-weight: var(--semi-bold);
}

/* Main Styles */
section:first-of-type h1 {
    font-size: 9rem;
    margin-top: 0.5em;
}

/* ABOUT SECTION */
#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1.5rem;
}

.about-text {
    flex: 1;
    position: relative;
    z-index: 2;
}

#about h1 {
    position: relative;
}

#about .section-description {
    width: 80%;
    margin-bottom: 1rem;
}

#about img {
    flex: 1;
    position: relative;
    top: 6rem;
    right: 10rem;
    width: 45%;
    max-width: 500px;
    z-index: 1;
}

/* LEARN SECTION */
#learn {
    margin-bottom: 10em;
}

#learn h1 {
    padding-top: 0.2em;
}

.desc-highlight {
    color: #64C1D2;
    font-weight: bold;
}

.lesson-group {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
}

.lesson {
    max-width: 500px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.lesson:nth-of-type(2) {
    padding-top: 25px;
}

.lesson:hover {
    transform: translateY(-10px);
}

.lesson a {
    text-decoration: none;
}

.lesson img {
    max-height: 405px;
    min-width: 500px;
    border-radius: 5%;
    object-fit: cover;
    object-position: center;
    box-shadow: 2px 2px 10px #5959594b;
}

.lesson-title {
    font-size: 1.6em;
    text-align: center;
    line-height: 1.3;
    font-style: italic;
    font-weight: var(--semi-bold);
    color: #7EDDEE;
}

/* CONTACT US SECTION */
#contact-us {
    padding-bottom: 5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-top: 3em;
}

#contact-us h1 {
    margin-top: 0;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
    align-items: start;
}

.contact-text {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contact-text h3 {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: 1.2;
}

#contact-us form {
    width: 100%;
}

#contact-us form fieldset {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: none;
    padding: 0;
}

#contact-us form fieldset legend,
#contact-us form fieldset label {
    display: none;
}

.form-group input,
.form-group textarea {
    background: linear-gradient(to bottom right, #ffffff 0%, #CFFCFF 100%);
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding: 1em;
    font-size: 1.2rem;
    color: var(--primary-bg);
    font-weight: var(--semi-bold);
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    opacity: 0.5;
}

.form-group input {
    height: 3.5em;
}

.form-group textarea {
    height: 15em;
    resize: none;
}

button[type="submit"] {
    background-color: var(--secondary);
    border: none;
    border-radius: 15px;
    width: 10em;
    height: 2.4em;
    max-height: 65px;
    font-size: 1.3rem;
    font-weight: var(--semi-bold);
    font-family: 'Poppins', sans-serif;
}

button[type="submit"]:hover {
    background-color: var(--secondary-darker);
    cursor: pointer;
    transition: 0.3s;
}

.fa-phone,
.fa-location-dot {
    margin-right: 1em;
}

.contact-text address p a {
    font-style: normal;
    text-decoration: none;
}

.contact-text address p a:hover {
    text-decoration: underline;
}

/* Media Queries */
/* Desktop - Large */
@media (max-width: 1620px) {
    #hero h1, #hero-mobile h1 {
        font-size: 5.7rem;
        margin-bottom: -1em;
    }

    #hero-subtitle {
        font-size: 1.4rem;
        padding: 1em 7.2em;
    }

    #hero, #hero-mobile {
        padding: 0 10em;
    }

    section:first-of-type h1 {
        font-size: 8rem;
    }

    #about {
        padding-right: 0;
    }

    #about .section-description {
        width: 78%;
    }

    #about img {
        top: 4rem;
        right: 10em;
        width: 45%;
        max-width: 430px;
    }

    .lesson {
        max-width: 340px;
    }

    .lesson:nth-of-type(2) {
        padding-top: 25px;
    }

    .lesson img {
        max-height: 350px;
        max-height: 350px;
        min-width: 340px;
        max-width: 340px;
    }

    .lesson-title {
        font-size: 1.4em;
        line-height: 1.3;
    }

    #contact-us {
        padding-top: 1em;
    }
}

/* Desktop - Normal */
@media (max-width: 1024px) {
    #hero, #hero-mobile {
        padding: 0 7em;
        max-height: 300px;
    }

    #hero h1, #hero-mobile h1 {
        font-size: 3.5rem;
        margin-top: 1em;
        margin-bottom: 0;
    }

    #hero input[type="button"], #hero-mobile input[type="button"] {
        width: 8em;
        height: 2em;
        border-radius: 13px;
        font-size: 1.2rem;
    }

    #hero-subtitle {
        font-size: 1.1rem;
        padding: 1em 6em;
    }

    section:first-of-type h1 {
        font-size: 4rem;
        margin-bottom: 0.3em;
    }

    #about .section-description {
        width: 80%;
    }

    #about img {
        top: 2rem;
        right: 5em;
        max-width: 330px;
    }

    #learn {
        margin-bottom: 3em;
    }

    .lesson {
        max-width: 240px;
    }

    .lesson:nth-of-type(2) {
        padding-top: 25px;
    }

    .lesson img {
        max-height: 250px;
        min-width: 240px;
        max-width: 240px;
    }

    .lesson-title {
        font-size: 1.1em;
        line-height: 1.3;
    }

    #contact-us {
        padding-top: 0.5em;
    }

    .contact-container {
        gap: 4em;
    }

    .contact-text {
        gap: 1em;
    }

    .contact-text h3 {
        font-size: 2rem;
    }

    .form-group input,
    .form-group textarea {
        font-size: 1rem;
    }

    .form-group input {
        height: 3rem;
    }

    .form-group textarea {
        height: 13em;
    }

    button[type="submit"] {
        border-radius: 10px;
        width: 10em;
        height: 2.4em;
        max-height: 65px;
        font-size: 1rem;
    }

    .fa-phone,
    .fa-location-dot {
        margin-right: 0.5em;
    }

    .contact-text address p a {
        font-size: 0.8rem;
    }
}

/* Tablet */
@media (max-width: 820px) {
    #hero, #hero-mobile {
        padding: 0 5em;
        max-height: 270px;
    }

    #hero h1, #hero-mobile h1 {
        font-size: 2.8rem;
        margin-top: 0.8em;
    }

    #hero input[type="button"], #hero-mobile input[type="button"] {
        width: 8em;
        height: 2em;
        border-radius: 8px;
        font-size: 1rem;
    }

    #hero-subtitle {
        font-size: 0.9rem;
        padding: 1em 5.5em;
    }

    section:first-of-type h1 {
        font-size: 3rem;
    }

    #about .section-description {
        width: 80%;
    }

    #about img, #about-mobile img {
        top: 0.7rem;
        right: 4.5em;
        max-width: 250px;
    }

    #learn {
        margin-bottom: 3em;
    }

    .lesson {
        max-width: 200px;
    }

    .lesson:nth-of-type(2) {
        padding-top: 25px;
    }

    .lesson img {
        max-height: 200px;
        min-width: 200px;
        max-width: 200px;
    }

    .lesson-title {
        font-size: 0.9rem;
        line-height: 1.3;
    }

    #contact-us {
        padding-top: 0.5em;
    }

    .contact-container {
        gap: 2em;
    }

    .contact-text {
        gap: 0.8em;
    }

    .contact-text h3 {
        font-size: 1.7rem;
    }

    .form-group input,
    .form-group textarea {
        font-size: 0.8rem;
    }

    .form-group input {
        height: 2.5rem;
    }

    .form-group textarea {
        height: 17em;
    }

    button[type="submit"] {
        border-radius: 7px;
        width: 10em;
        height: 2.4em;
        max-height: 65px;
        font-size: 1rem;
    }

    .fa-phone,
    .fa-location-dot {
        margin-right: 0.5em;
    }

    .contact-text address p a {
        font-size: 0.75rem;
    }
}

/* Mobile */
@media (max-width: 425px) {
    #hero, #hero.mobile {
        padding: 0 1.5em;
        max-height: 200px;
        background: none;
        text-align: center;
    }

    #hero-mobile h1 {
        font-size: 1.8rem;
        margin-top: 0.8em;
    }

    #hero::before {
        content: "";
        position: absolute;
        inset: 0;
        background: #12011600;
        z-index: 1;
    }

    #hero input[type="button"], #hero-mobile input[type="button"] {
        width: 12em;
        height: 2.5em;
        border-radius: 5px;
        font-size: 0.7rem;
    }

    #hero-subtitle {
        font-size: 0.8rem;
        padding: 1em 2em;
        text-align: center;
    }

    section:first-of-type h1 {
        font-size: 2rem;
    }

    #about, #about-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 1em auto;
        padding: 1em 1.5em;
    }

    #about .section-description,
    #about-mobile .section-description,
    #learn .section-description,
    #contact-us .section-description {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        font-size: 0.8rem;
    }

    #about img,
    #about-mobile img {
        position: static;
        width: 100%;
        object-fit: cover;
        object-position: center;
        max-height: 150px;
        border-radius: 10px;
        margin: 0.5em;
    }

    #learn {
        text-align: center;
        margin-bottom: 3em;
    }

    #learn .section-description {
        text-align: center;
    }

    .lesson-group {
        flex-direction: column;
        gap: 1em;
    }

    .lesson {
        max-width: 200px;
    }

    .lesson:nth-of-type(1) {
        padding-top: 25px;
    }

    .lesson:nth-of-type(2) {
        padding-top: 0;
    }

    .lesson img {
        max-height: 150px;
        min-width: 200px;
        max-width: 200px;
        object-fit: cover;
        object-position: center;
    }

    .lesson-title {
        font-size: 0.7rem;
        line-height: 1.3;
    }

    #contact-us {
        text-align: center;
        display: flex;
        flex-direction: column;
        padding-top: 0.5em;
    }

    .contact-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2em;
    }

    .contact-text {
        gap: 0.8em;
    }

    .contact-text h3 {
        font-size: 1.7rem;
    }

    .form-group input,
    .form-group textarea {
        font-size: 0.8rem;
    }

    .form-group input {
        height: 2.5rem;
    }

    .form-group textarea {
        height: 17em;
    }

    button[type="submit"] {
        border-radius: 7px;
        width: 15em;
        height: 2.4em;
        max-height: 65px;
        font-size: 1rem;
        margin: 0 auto;
    }

    .fa-phone,
    .fa-location-dot {
        margin-right: 0.5em;
    }

    .contact-text address p a {
        font-size: 0.75rem;
    }
}

@media (max-width: 340px) {
    #hero.mobile {
        max-height: 250px;
    }
}